<div>
    <!-- Modal Content -->
    <h3 class="font-bold text-lg">{{ bottle.brand }} - {{ bottle.name }}</h3>
    <p class="py-4">
      ABV: {{ bottle.abv }} <br />
      {{ bottle.description }}
    </p>
    <figure class="my-4">
      <img
        src="/database_images/bottles/{{ bottle.image_path }}"
        alt="{{ bottle.name }}"
        class="delayed w-[250px] h-[250px] object-contain mx-auto"
      />
    </figure>
    <!-- Empty Status Checkbox -->
    <div class="flex items-center mt-4">
      <label for="available-{{ bottle.id }}" class="mr-2">Is Available:</label>
      <input
        type="checkbox"
        id="available-{{ bottle.id }}"
        class="checkbox"
        {% if bottle.available == 1 %}checked{% endif %}
        disabled
      />
    </div>

    <!-- Expert Notes Section -->
    {% if bottle.expert_tasting_notes %}
    <div class="my-4 p-4 border border-base-300 rounded-lg bg-base-100 shadow-md">
      <h4 class="font-semibold text-lg text-center mb-4">Expert Tasting Notes</h4>
      <div class="flex flex-wrap gap-2 justify-center">
        {% for expert_tasting_note in bottle.expert_tasting_notes %}
          <div class="badge badge-lg tasting-note-{{ expert_tasting_note.replace(' ', '').lower() }}">
            <span class="font-medium">{{ expert_tasting_note }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    
    <!-- Community Notes Section -->
     {% if bottle.tasting_notes %}
    <div class="my-4 p-4 border border-base-300 rounded-lg bg-base-100 shadow-md">
      <h4 class="font-semibold text-lg text-center mb-4">Community Tasting Notes</h4>
      <div class="flex flex-wrap gap-2 justify-center">
        {% for tasting_note in bottle.tasting_notes %}
          <div class="badge badge-lg tasting-note-{{ tasting_note[0].replace(' ', '').lower() }}">
            <span class="font-medium">{{ tasting_note[0] }}</span>
            <span class="ml-2 text-sm">({{ tasting_note[1] }})</span>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Review Dropdown -->
    <div class="collapse collapse-arrow mt-6 border border-base-300 rounded-box">
      <input type="checkbox" id="review-dropdown-{{ bottle.id }}" />
      <label class="collapse-title text-lg font-medium">
        Add a Review
      </label>
      <div class="collapse-content">
        <form id="addReviewForm-{{ bottle.id }}" class="space-y-4">
        <!-- Name Dropdown -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Your Name</span>
          </label>
          <select name="name" class="select select-bordered text-2xl" required>
            <option disabled selected>Select your name</option>
            {% for user in users %}
              <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>

                    <!-- Tasting Notes with Checkboxes -->
          <div class="form-control">
            <label class="label">
              <span class="label-text text-xl">Select Tasting Notes:</span>
            </label>

            {% for three_note in tasting_notes %}
              <!-- Parent collapse component with a checkbox for selecting the parent note -->
              <div class="flex items-center mt-4">
                <!-- Checkbox for selecting the parent note (tier 3) -->
                <input type="checkbox" id="checkbox-{{ three_note.name }}" class="checkbox checkbox-primary mr-4" name="note_{{ three_note.name }}" />
                <!-- Collapse element next to the checkbox -->
                <div class="collapse collapse-arrow">
                  <input type="checkbox" id="collapse-{{ three_note.name }}" class="peer" />
                  <label class="collapse-title text-lg">{{ three_note.name }}</label>
                  <div class="collapse-content ml-4">
                    
                    <!-- Subnotes (Tier 2) with checkboxes -->
                    {% for two_note in three_note.subnotes %}
                      <div class="flex items-center mt-2">
                        <!-- Checkbox for selecting the subnote (tier 2) -->
                        <input type="checkbox" id="checkbox-{{ two_note.name }}" class="checkbox checkbox-primary mr-4" name="subnote_{{ two_note.name }}" />
                        <!-- Collapse for the subnote -->
                        <div class="collapse collapse-arrow">
                          <input type="checkbox" id="collapse-{{ two_note.name }}" class="peer" />
                          <label class="collapse-title text-md">{{ two_note.name }}</label>
                          <div class="collapse-content ml-4">
                            <!-- Subsubnotes (Tier 1) with checkboxes -->
                            {% for one_note in two_note.subsubnotes %}
                              <div class="form-control">
                                <label class="label cursor-pointer">
                                  <input type="checkbox" name="subsubnote_{{ one_note }}" class="checkbox checkbox-primary" />
                                  <span class="label-text">{{ one_note }}</span>
                                </label>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <!-- review_text -->
          <div class="form-control">
            <label class="label">
              <span class="label-text">Your Review</span>
            </label>
            <textarea
              name="review_text"
              class="textarea textarea-bordered"
              placeholder="Write your review here"
            ></textarea>
          </div>

          <!-- Score -->
          <!-- Score with Stars -->
           
          <div class="form-control">
            <label class="label">
              <span class="label-text">Score</span>
            </label>
            <div class="rating justify-between">
              <input type="radio" name="score" value="1" class="mask mask-star-2 bg-yellow-500 animate-none" required />
              <input type="radio" name="score" value="2" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="3" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="4" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="5" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="6" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="7" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="8" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="9" class="mask mask-star-2 bg-yellow-500 animate-none" />
              <input type="radio" name="score" value="10" class="mask mask-star-2 bg-yellow-500 animate-none" />
            </div>
          </div>
          
          <!-- Submit Button -->
          <button
            type="submit"
            class="btn btn-primary w-full"
            id="submitReviewButton-{{ bottle.id }}"
          >
            Submit Review
          </button>
        </form>
      </div>
    </div>

    {% for review in bottle.reviews %}
      <div>
            {% include "modals/bottle_review.html" %}
      </div>
    {% endfor %}


    <!-- Close Button -->
    <label for="modal-{{ bottle.id }}" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
  </div>
  <!-- Overlay (click outside to close) -->
  <label for="modal-{{ bottle.id }}" class="modal-backdrop"></label>