<div class="collapse collapse-arrow review-component">
    <input type="checkbox" class="peer" /> <!-- Controls the dropdown -->
  
    <!-- Visible Content -->
    <div class="grid grid-cols-2 items-center space-x-4 collapse-title text-lg font-medium">
        <div class="grid grid-cols-2">
        <!-- Bottle Image -->
        <div class="w-16 h-16">
            <img
            src="/static/bottles/{{ bottles[review.bottle_id].image_path }}"
            alt="{{ review.bottle_name }}"
            class="object-contain w-full h-full rounded-md"
            />
        </div>
    
        <!-- Bottle Name -->
        <div>
            <h3 class="font-bold text-lg">{{ bottles[review.bottle_id].brand }}</h3>
            <h3 class="text-base">{{ bottles[review.bottle_id].name }}</h3>
        </div>
        </div>
  
      <!-- Score Visualization -->
      <div class="text-sm">
        <div class="rating flex">
          <div class="rating">
            <!-- Render 10 stars, some filled, some empty -->
            {% for i in range(1, 11) %}
              <input
                type="radio"
                name="rating-{{ review.id }}"
                class="mask mask-star-2 bg-yellow-400 scale-50"
                {% if i <= review.score %}checked{% endif %}
                disabled
              />
            {% endfor %}
          </div>
          <span class="text-sm font-medium text-gray-700">{{ review.score }}/10</span>
        </div>
        {{ review.review_date }}
      </div>
    </div>
  
    <!-- Hidden Content (Revealed on Click) -->
    <div class="collapse-content mt-2 border-b-2 border-x-2 border-gray-900 rounded-b-3xl">
              <!-- Review Details -->
              <p class="text-md text-gray-300 mb-2">{{ review.review_text }}</p>
              {% for tasting_note in review.tasting_notes %}
                <div class="badge badge-lg tasting-note-{{ tasting_note.replace(' ', '').lower() }}">
                  <span class="font-medium">{{ tasting_note }}</span>
                </div>
              {% endfor %}

    </div>
  </div>
  