<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/tailwind.output.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>{% block title %}Bar Companion{% endblock %}</title>
</head>
<body class="bg-gray-100 h-screen">
  <!-- Navigation Bar -->
  <nav class="bg-blue-500 text-white p-4 flex items-center justify-between">
    <!-- Left-aligned Screensaver Button -->
    <div class="flex items-center">
      <a href="/" class="hover:underline flex items-center">
        <i class="fas fa-tv text-3xl"></i>
      </a>
    </div>

    <!-- Centered Navigation Links -->
    <ul class="flex justify-center space-x-6">
      <li>
        <a href="/home" class="hover:underline flex items-center">
          <i class="fas fa-home text-3xl"></i>
        </a>
      </li>
      <li>
        <a href="/inventory" class="hover:underline flex items-center">
          <i class="fas fa-boxes text-3xl"></i>
        </a>
      </li>
      <li>
        <a href="/users" class="hover:underline flex items-center">
          <i class="fas fa-users text-3xl"></i>
        </a>
      </li>
    </ul>

    <!-- Placeholder for Right Alignment -->
    <div></div>
  </nav>
  <div id="alert-container" class="absolute fixed top-4 right-4 space-y-4 z-[9999]"></div>
  <!-- Main Content -->
  <div class="container mx-auto py-8">
    {% block content %}
    <!-- Page-specific content will go here -->
    {% endblock %}
  </div>
</body>
<script>
  function showAlert(message, type = "info", timeout = 3000) {
    // Create the alert element
    const alert = document.createElement("div");
    alert.className = `alert alert-${type} shadow-lg`;
    alert.role = "alert"

    // Add alert content
    alert.innerHTML = `
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          ${
            type === "success"
              ? '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />'
              : type === "error"
              ? '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />'
              : '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 18c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z" />'
          }
        </svg>
        <span>${message}</span>
      </div>
    `;

    // Add alert to the container
    const alertContainer = document.getElementById("alert-container");
    alertContainer.appendChild(alert);

    // Automatically remove the alert after the timeout
    setTimeout(() => {
      alert.remove();
    }, timeout);
  }
</script>
</html>
