{% extends "base.html" %}

{% block title %}Inventory - Bar Companion{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Events</h1>
<div class="flex">
  <div class="border  p-1">
    <label for="add-event-modal" class="btn btn-primary mr-2">Add event + </label>
  </div>
  {% include "modals/add_event_button.html" %}

</div>
<div class="grid grid-cols-3 gap-6">

  {% for event in events %}

  <div class="card w-full bg-base-100 shadow-lg">
    <!-- Trigger Button -->
    <label for="event-modal-{{ event.id }}" class="cursor-pointer">
      <figure>
        <img
          src="/static/events/{{ event.image_path }}"
          alt="{{ event.name }}"
          class="w-[250px] h-[250px] object-contain mx-auto bg-gray-100"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ event.name }}</h2>
      </div>
    </label>
  
    <!-- Modal -->
    {% include "modals/event_card_popup.html" %}
  </div>

  {% endfor %}

</div>
{% endblock %}
